@import '../variables.scss';

.skill-categories {
    font-size: 2rem;
    padding: 0 30rem 0 30rem;

    @media screen and (max-width: $break-large) {
        padding: 0 1rem 0 1rem;
    }
    @media print {
        padding: 0 1rem 0 1rem;
    }

    .category {
        .skills {
            display: flex;
            flex-wrap: wrap;
            align-content: space-around;
            .skill {
                margin:0.1em;
                flex:auto;
                padding:1rem;
                border: 1px solid black;
            }
        }
    }
}